@media only screen and (max-width: 1100px){
  .cloud-article .cloud-text-wrap{
    padding-top: 75px;
  }

  .cow-article{
    background-size: contain;
    background-position-y: 60%;
    q{
      left: 70px;
    }
  }

  .article .img-center {
    margin-left: -20px;
    margin-top: 30%;
  }
}

@media only screen and (max-width: 800px) {
  main.content h1{
    margin-top: 0;
    margin-bottom: 2.5rem;
  }
  .cloud-article{
    width: 100%;
    .cloud-text-wrap{
      padding-top: 90px;
      h2{
        margin-bottom: 0.5rem;
      }
    }
  }

  .cow-article {
    margin-top: -250px;
    q {
      font-size: 18px;
      line-height: 24px;
      left: 55px;
      bottom: 175px;
    }
  }

  .article {
    h2{
      margin-bottom: 0.5rem;
    }
    h2, p{
      text-align: center;
    }
    .img-center {
      position: inherit;
      margin: 0 auto;
    }
  }

  .delivery .col-md-8{
    margin: 0 auto;
  }
}
@media only screen and (max-width: 460px) {
  .cloud-article{
    height: 655px;
    .cloud-text-wrap{
      padding-top: 100px;
      width: 300px;
    }
  }
  .cow-article{
    background-size: cover;
    background-position-y: 40%;
    background-position-x: 40%;
    q{
      bottom: 125px;
    }
  }
  .article h2{
    margin-top: 3rem;
  }
}