@media only screen and (max-width: 1024px) {
  footer{
    .footer-block {
      .footer-contacts {
        .footer-contacts-item{
          .footer-contacts-item-content {
            a {
              font-size: 14px;
            }
          }
        }
      }

      .subscribe-form {
        input[type=email] {
          width: 160px;
        }

        input[type=submit] {
          padding: 0 7px;
        }
      }
    }
  }

  .not-found img.img-fluid{
    bottom: -50px;
  }
}

@media only screen and (max-width: 1100px) and (max-height: 1366px) {
  main img.balloon {
    top: 55vh;
  }
}

@media only screen and (max-width: 800px){
  main{
    .cloud{
      &.cloud_1{
        width: 75%;
        .cloud-text-wrap {
          top: 30%;
          h1{
            font-size: 36px;
          }
          span {
            font-size: 20px;
          }
        }
      }
      &.cloud_2{
        margin-top: 0;
        width: 55%;
        left: 0;
        height: 275px;
        .cloud-text-wrap{
          width: 78%;
        }
      }

      &.cloud_3{
        height: 300px;
        background-position: 8%;
      }

      &.cloud_4{
        width: 78%;
      }

      h2{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      p{
        font-size: 15px;
      }
    }
    img.cow{
      top: 65%;
      width: 352px;
      height: 345px;
    }

    img.balloon{
      top: 110vh;
      width: 245px;
      height: 300px;
    }

    .bottom-main{
      height: 720px;
    }
  }

  .not-found img.img-fluid{
    bottom: 2px;
  }
}

@media only screen and (max-width: 800px) {
  header {
    .header-right-side{
      padding-top: 15px;
      .header-phones-wrapper{
        padding-bottom: 10px;
      }
    }
  }
  .burger{
    .menu-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      top: 0;
      right: 0;
    }
    .menu-btn__burger {
      width: 50px;
      height: 6px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before, .menu-btn__burger::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 6px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
      transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
      transform: translateY(-16px);
    }
    .menu-btn__burger::after {
      transform: translateY(16px);
    }


    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
  .mobile-menu{
    display: block;
    transition: 0.8s;
    position: fixed;
    height: 100vh;
    width: 342px;
    top: 0;
    left: -342px;
    background: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 9999;
    padding: 20px;
    h2{
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: bold;
    }
    ul{
      li{
        a{
          font-size: 18px;
          line-height: 27px;
          display: block;
          margin-bottom: 10px;
        }
      }
    }
    .price-list-link{
      text-decoration: underline;
      display: block;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .lang-select{
      /*margin: 55px auto;*/
      text-align: center;
      width: 60px;
      li.active{
        cursor: pointer;
        display: block;
        position: relative;
        transition-duration: 0.5s;
      }
      li.active label{
        cursor: pointer;
      }
      li.active:hover{
        ul.dropdown{
          visibility: visible;
          opacity: 1;
          display: block;
          padding-right: 12px;
          width: 100%;
        }
      }
      .active span{
        display: block;
        width: 60px;
        line-height: 26px;
        border: 0.5px solid #00040D;
        box-sizing: border-box;
        border-radius: 5px;
      }
      .active label{
        transform: rotate(90deg);
      }
      ul.dropdown{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        top: 100%;
        display: none;
        li a{
          font-family: Circe;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #00040D;
        }
        li a:hover{
          text-decoration: none;
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }

    .mob-close{
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 99999;
      img{
        height: 15px;
      }
    }

    .soc-links-wrapper{
      h4 {
        font-size: 18px;
      }
    }

  }

  footer {
    padding-top: 130px;
    .footer-block .soc-links-wrapper{
      margin: 0 auto;
      border: none;
    }
  }

  /*makes burger smaller*/
  .burger {
    .menu-btn{
      .menu-btn__burger, .menu-btn__burger::before, .menu-btn__burger::after{
        width: 40px;
        height: 3px;
      }
      .menu-btn__burger::before{
        transform: translateY(-12px);
      }
      .menu-btn__burger::after{
        transform: translateY(12px);
      }
    }
  }
  /*makes burger smaller end*/
}

@media only screen and (max-width: 800px) and (max-height: 1024px){
  main img.balloon {
    top: 59vh;
  }

  main img.cow {
    top: 30%;
  }

  footer{
    padding-top: 285px;
  }
}

@media only screen and (max-width: 800px) and (max-height: 768px){
  main img.balloon{
    top: 78vh;
  }

  main img.cow {
    top: 30%;
  }
}

@media only screen and (max-width: 460px){
  header{
    .logo-wrapper{
      img{
        height: 46px;
        max-width: none;
      }
    }

    .header-right-side {
      padding-top: 0;
      .header-phones-wrapper {
        padding-bottom: 0;
        padding-left: 0;

        .header-phones {
          padding-left: 5px;
          a {
            font-size: 12px;
          }
        }

        .svg-wrapper.whatsapp, .svg-wrapper.viber {
          img {
            width: 15px;
          }
        }
      }
    }
  }

  main{
    .cloud {
      h3{
        font-size: 15px;
      }
      &.cloud_1 {
        margin: 0;
        width: 100%;
        .cloud-text-wrap {
          top:20%;
          h1 {
            font-size: 24px;
            margin-bottom: 0;
          }

          span {
            font-size: 16px;
          }
        }
      }

      &.cloud_2{
        width: 100%;
        height: 300px;
      }

      &.cloud_3{
        width: 100%;
        top: 10px;
        .cloud-text-wrap{
          top: 35%;
        }
      }

      &.cloud_4{
        width: 100%;
        background-size: cover;
        height: 160px;
        background-position-x: center;
        text-align: center;
        .cloud-text-wrap{
          top: 40%;
          width: 100%;
          left: 0;
        }
      }
    }
    img.cow{
      top: 35%;
    }
    img.balloon{
      left: 20vw;
      top: 105vh;
    }
  }

  footer{
    text-align: center;
    .footer-block {
      background: rgba(55, 92, 7, 1);
      .footer-contacts .footer-contacts-item .footer-svg-wrap {
        float: none;

        img {
          height: 25px;
        }
      }
    }

    .footer-block .soc-links-wrapper{
      margin-top: 15px;
    }
    /*display: none;*/
  }
  main{
    .partners-item{
      padding: 35px 35px;
      .partners-img{
        margin: auto;
        display: block;
        float: none;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  main{
    .cloud{
      &.cloud_1{
        .cloud-text-wrap{
          h1{
            font-size: 20px;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }

    img.balloon{
      z-index: -1;
    }
  }
}