@media only screen and (max-width: 1024px) {
  .breadcrumb {
    text-align: left !important;
  }
  main {
    img{
      max-width: 100%;
    }
  }
}
@media only screen and (max-width: 460px) {
  main {
    .cups {
      img {
        margin: 25px auto;
        display: block;
      }
    }
  }
}