@media only screen and (max-width: 1100px){
  .product-card{
    width: 100%;
    .img-fluid{
      height: 175px;
    }
  }

  .documents{
    .product-card{
      margin-top: 5%;
      width: 80%;
      .img-fluid{
        height: 389px;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .documents{
     .product-card{
       width: 100%;
     }
   }

  .product-card {
    .p-card-header {
      padding-top: 10px;
      span {
        font-size: 18px;
        line-height: 26px;
      }
    }
    .p-card-body{
      padding: 10px 10px 10px 10px;
    }
  }
}