.not-found{
  text-align: center;
  margin-bottom: 50px;
  h1{
    margin-bottom: 0!important;
    margin-top: 60px !important;
  }
  span {
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px;
    letter-spacing: 0em;
    text-align: left;
  }

  a{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    color: #375C07;
    text-align: center;
    padding: 10px 20px 10px 20px;
  }

  img.img-fluid{
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 38px;
    width: 100%;
    display: block;
    left: 0;
  }
}