.cloud-article{
  background-image: url('../img/cloud_article.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 850px;
  margin: auto;
  background-position: center;
  .cloud-text-wrap {
    width: 525px;
    margin: 0 auto;
    padding-top: 90px;
    h2 {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px;
      letter-spacing: 0em;
      text-align: center;
    }

    ul {
      li {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.cow-article{
  background-image: url('../img/cow_article.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 625px;
  margin: auto;
  position: relative;
  z-index: 100;
  margin-top: -200px;
  q{
    display: block;
    position: absolute;
    bottom: 150px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    left: 150px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.article{
  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    margin-bottom: 25px;
  }
  p, strong{
    font-size: 16px;
    line-height: 24px;
  }

  .img-center{
    position: absolute;
    display: block;
    margin-left: 30px;
  }

  .text-center{
    text-align: center;
  }

  .text-left{
    text-align: left;
  }
}