body{
	font-family: "Circe";
	font-weight: normal;
	font-style: normal;
	color: #00040D;
	background: #E4F2FF;
	&.main-bg{
		background-image: url('../img/mainpage/main-bg2.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

	&.page-bg{
		background-image: url('../img/bg-page.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}
ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
label{
	margin: 0;
}

h1{
	font-weight: 700;
}

h4{
	margin: 0;
}

a{
	color: #00040D;
	&:hover{
		color: #00040D;
	}
}

nav{
	ol.breadcrumb {
		margin-top: 20px;
		list-style-type: none;
		display: inline-block;
		font-size: 14px;
		li.breadcrumb-item{
			float: left;
			padding-right: 40px;
			position: relative;
			&:not(.active):before{
				content: '';
				background-image: url('../img/bc-arrow.svg');
				background-repeat: no-repeat;
				background-size: contain;
				width: 25px;
				height: 21px;
				display: block;
				position: absolute;
				right: 7.5px;
				background-position-y: center;
			}

			a{
				color: #00040D;
				display: block;
				padding-top: 1px;
				img{
					margin-top: -4px;
				}
			}

			&.active{
				color: #5A698E;
			}
		}
	}
}

/*header start*/
header{
	background: #E4F2FF;
	.logo-wrapper{
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.header-right-side{
		padding-top: 30px;
		.price-list-link{
			font-size: 16px;
			line-height: 24px;
			color: #00040D;
			display: block;
		}
		.price-list-link:after{
			content: "";
			display: block;
			height: 0.5px;
			background: #00040D;
			width: 70%;
			position: absolute;
		}
		.price-list-link:hover{
			text-decoration: none;
		}
		.lang-select{
			margin: 0 15px;
			text-align: center;
			li.active{
				cursor: pointer;
				display: block;
				position: relative;
				transition-duration: 0.5s;
			}
			li.active label{
				cursor: pointer;
			}
			li.active:hover{
				ul.dropdown{
					visibility: visible;
					opacity: 1;
					display: block;
					padding-right: 12px;
					width: 100%;
				}
			}
			.active span{
				display: block;
				width: 60px;
				line-height: 26px;
				border: 0.5px solid #00040D;
				box-sizing: border-box;
				border-radius: 5px;
			}
			.active label{
				transform: rotate(90deg);
			}
			ul.dropdown{
				visibility: hidden;
				opacity: 0;
				position: absolute;
				transition: all 0.5s ease;
				top: 100%;
				display: none;
				li a{
					font-family: Circe;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 19px;
					color: #00040D;
				}
				li a:hover{
					text-decoration: none;
					font-weight: bold;
					color: #FFFFFF;
				}
			}
			/*li.active:hover > ul.dropdown,
			li.active ul.dropdown:hover {
				visibility: visible;
				opacity: 1;
				display: block;
				li{
					width: 60px;
					line-height: 26px;
					margin: auto;
					border: 0.5px solid #00040D;
					box-sizing: border-box;
					border-radius: 5px;
					display: block;
				}
			}*/
		}
		.lang-select:before, .lang-select:after{
			content: "";
			display: block;
			height: 40px;
			width: 1px;
			position: absolute;
			border: 0.5px solid #ffffff;
			top: -3px;
		}
		.lang-select:before{
			left: 0;
		}
		.lang-select:after{
			right: 0;
		}
	}
	.header-phones-wrapper{
		display: inline-block;
		padding-left: 20px;
		.svg-wrapper{
			float: left;
		}
		.svg-wrapper.whatsapp, .svg-wrapper.viber{
			margin-top: -2px;
		}
		.header-phones{
			padding-left: 20px;
			display: inline-block;
			a{
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 24px;
				color: #00040D;
			}
		}
	}
	.header-main-menu-v1{
		border-top: 0.5px solid #FFFFFF;
		border-bottom: 0.5px solid #FFFFFF;;
		.menu-wrapper{
			text-align: center;
			padding: 10px 0;
			nav{
				ul{
					li{
						display: inline-block;
						margin-right: 50px;
						a{
							font-family: Circe;
							font-style: normal;
							font-weight: normal;
							font-size: 18px;
							line-height: 27px;
							color: #00040D;
						}
					}
					li:last-child{
						margin-right: 0px;
					}
				}
			}
		}
	}
}
/*header end*/
/* main start*/
main{
	.cloud{
		position: relative;
		.cloud-text-wrap{
			position: absolute;
			top: 45%;
			left: 10%;
		}

		&.cloud_1{
			width: 46%;
			height: 500px;
			background-image: url('../img/mainpage/cloud_1.svg');
			background-repeat: no-repeat;
			background-size: cover;
			margin-left: 5%;
			.cloud-text-wrap{
				width: 78%;
				left: 8%;
				h1{
					font-size: 60px;
					font-weight: bold;
				}

				span{
					font-weight: 300;
					font-size: 24px;
				}
			}
		}

		&.cloud_2{
			width: 40%;
			height: 300px;
			background-image: url('../img/mainpage/cloud_2.svg');
			background-repeat: no-repeat;
			background-size: cover;
			margin-top: 15%;
			margin-left: 5%;
			.cloud-text-wrap{
				position: absolute;
				top: 35%;
				left: 10%;
				width: 75%;
			}
		}

		&.cloud_3{
			width: 35%;
			height: 235px;
			background-image: url('../img/mainpage/cloud_3.svg');
			background-repeat: no-repeat;
			background-size: contain;
			float: right;
			position: relative;
			top: -140px;
			right: 15%;
			z-index: 150;
			.cloud-text-wrap{
				position: absolute;
				top: 35%;
				left: 14%;
				width: 65%;
			}
		}

		&.cloud_4{
			width: 25%;
			height: 100px;
			background-image: url('../img/mainpage/cloud_4.svg');
			background-repeat: no-repeat;
			background-size: cover;
			margin: 0 auto;
			.cloud-text-wrap{
				top: 56%;
			}
		}

		p{
			font-size: 16px;
			padding: 0;
			margin: 0;
			text-align: center;
		}

		h2{
			text-align: center;
			margin-bottom: 20px;
		}

		h3{
			font-size: 16px;
		}
	}

	img.cow{
		display: block;
		position: absolute;
		right: 0;
		top: 15%;
	}

	img.balloon{
		position: absolute;
		top: 90vh;
		display: block;
		left: 37vw;
		z-index: 100;
		transform: rotate(-10deg);
	}

	img.plain{
		margin-left: 10%;
	}

	.bottom-main{
		width: 100%;
		background-image: url(../img/mainpage/bottom-main2.png);
		background-size: cover;
		background-position-x: center;
		height: 1500px;
		background-position-y: center;
		background-repeat: no-repeat;
		margin-bottom: -500px;
	}
}

/* media for clouds*/
@media only screen and (max-width: 1700px) {
	main .cloud.cloud_1 {
		width: 55%;
	}

	main .cloud.cloud_2 {
		width: 44%;

		.cloud-text-wrap {
			top: 30%;
			width: 75%;
		}
	}

	main .cloud.cloud_3 {
		width: 40%;
		right: 10%;
	}

	main .cloud.cloud_4 {
		width: 35%;
		height: 125px;
		.cloud-text-wrap{
			top: 52%;
		}
	}
}

@media only screen and (max-width: 1450px) {
	main .cloud.cloud_1 .cloud-text-wrap{
		width: 85%;
	}

	main .cloud.cloud_2{
		width: 45%;
		.cloud-text-wrap{
			width: 70%;
		}
	}

	main .cloud.cloud_3 .cloud-text-wrap{
		left: 18%;
		width: 65%;
		top: 30%;
	}

	main .cloud.cloud_4 .cloud-text-wrap {
		top: 50%;
		left: 15%;
	}
}

@media only screen and (max-width: 1350px) {
	main .cloud.cloud_1 {
		width: 60%;
	}

	main .cloud.cloud_1 .cloud-text-wrap {
		width: 85%;
	}

	main .cloud.cloud_2{
		margin-left: 0;
		.cloud-text-wrap{
			width: 80%;
		}
	}

	main .cloud.cloud_3 {
		width: 44%;
		.cloud-text-wrap {

		}
	}

	main .cloud.cloud_4 {
		width: 40%;
	}
}

@media only screen and (max-width: 1290px) {
	main .cloud.cloud_1 {
		width: 63%;
	}
}

@media only screen and (max-width: 1100px) {
	main {
		.cloud.cloud_1 {
			background-size: contain;

			.cloud-text-wrap {
				top: 35%;
				width: 85%;

				h1 {
					font-size: 40px;
				}
			}
		}

		.cloud.cloud_2{
			width: 52%;
			.cloud-text-wrap{
				left: 14%;
				width: 80%;
			}
		}

		.cloud.cloud_3{
			right: 0;
			background-size: cover;
			.cloud-text-wrap{
				left: 25%;
			}
		}

		.cloud.cloud_4{
			width: 54%;
			.cloud-text-wrap{
				left: 18%;
			}
		}

		img.cow{
			top: 20%;
		}

		img.balloon{
			left: 45vw;
		}
	}
}

@media only screen and (max-width: 1025px) {
	main{
		.cloud.cloud_2{
			background-position-x: center;
			.cloud-text-wrap{
				left: 8%;
			}
		}

		.cloud.cloud_3 .cloud-text-wrap{
			left: 30%;
		}
	}
}
/* main end*/
/* footer start*/
footer{
	padding-top: 300px;
	/*background-color: #E4F2FF;*/
	background-image: url('../img/grass.png');
	background-size: contain;
	background-repeat: repeat-x;
	background-position-y: bottom;
	.footer-block {
		width: 100%;
		display: block;
		padding: 35px 0 25px 0;
		background: rgba(55, 92, 7, 0.86);

		.footer-menu {
			li {
				display: block;
				margin-top: 5px;

				a {
					font-family: Circe;
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 27px;
					color: #FFFFFF;
				}
			}
		}

		.footer-contacts {
			.footer-contacts-item {
				padding-top: 10px;

				.footer-svg-wrap {
					display: inline-block;
					float: left;
				}

				.footer-contacts-item-content {
					display: inline-block;
					padding-left: 8px;

					a {
						font-family: Circe;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 24px;
						color: #FFFFFF;
						display: block;
					}
				}
			}
		}

		h4 {
			font-family: Circe;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 27px;
			color: #FFFFFF;
		}

		.sol-links-wrap {
			position: relative;
			margin-top: 15px;
			display: block;
			padding-bottom: 25px;
			.sol-links-item {
				padding-right: 5px;
			}
		}

		.soc-links-wrapper {
			margin-left: 25px;
			margin-right: 35px;
			border-right: 0.5px solid #fff;
		}

		.sub-title {
			font-family: Circe;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 12px;
			color: #FFFFFF;
			display: block;
			margin-top: 5px;
			margin-bottom: 15px;
		}

		.subscribe-form {
			input[type=email] {
				background: rgba(255, 255, 255, 0.5);
				border: 1px solid #FFFFFF;
				box-sizing: border-box;
				border-radius: 5px;
				padding-left: 20px;
				padding-top: 2px;
				padding-bottom: 2px;
				position: relative;
			}

			input[type=email]::placeholder {
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				color: #E3E3E3;
			}

			input[type=submit] {
				font-family: Circe;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 28px;
				position: relative;
				color: #375C07;
				display: inline-block;
				padding: 0 17px;
				background: #FFFFFF;
				border: 1px solid #FFFFFF;
				box-sizing: border-box;
				border-radius: 5px;
				left: -11px;
			}
		}
	}
}
/* footer end*/
.mobile-menu{
	display: none;
}