main{
  .partners-item{
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(108, 108, 108, 0.1);
    backdrop-filter: blur(60px);
    border-radius: 5px;
    padding: 55px 80px;
    margin-bottom: 25px;
  }
  .partners-img{
    float: right;
  }
  .partners-left-sidecontent {
    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 35px;
      margin-bottom: 12px;
    }
    .sub-title {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #00040D;
      display: block;
      margin-bottom: 12px;
    }
    .partners-phones {
      margin-bottom: 12px;
    }
    .partners-site {
      margin-bottom: 12px;
      a {
        color: #007bff;
      }
    }
  }
}