main.content{
  background-color: transparent;
  h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
  }
}

.product-card{
  background-color: #ffffff;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.1));
  display: block;
  transition: all .2s ease-in-out;

  .p-card-header{
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700;
  }

  .p-card-body{
    padding: 30px 30px 30px 30px;
  }

  .img-fluid{
    height: 254px;
  }

  &:hover{
    text-decoration: none;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 480px){
  .product-card{
    margin-bottom: 25px;
  }
}

