main {
  .topings {
    text-align: center;
    nav {
      text-align: left;
    }

    h2 {
      margin-top: 25px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .img-wrapper {
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 4px 30px rgba(108, 108, 108, 0.1);
      backdrop-filter: blur(60px);
      border-radius: 5px;
      margin-bottom: 35px;
      padding: 30px 40px;
      display: block;
      transition: all .2s ease-in-out;
    }

    .img-wrapper:hover{
      text-decoration: none;
      transform: scale(1.1);
    }

    .breadcrumb, nav {
      text-align: left;
    }
  }

  .suhie-smesi-page {
    text-align: center;
    nav {
      text-align: left;
    }

    .page-content {
      img {
        margin-bottom: 25px;
      }
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 25px;
      font-weight: bold;
    }

    .smesi-item {
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 4px 30px rgba(108, 108, 108, 0.1);
      backdrop-filter: blur(60px);
      border-radius: 5px;
      margin-bottom: 25px;
      padding: 30px 40px;
      display: block;
      transition: all .2s ease-in-out;
    }

    .smesi-item:hover{
      text-decoration: none;
      transform: scale(1.1);
    }

    .text-left-align {
      text-align: left;
    }

    .svg-wrapper {
      margin-bottom: 12px;
      height: 80px;
    }
  }
  .cups{
    text-align: center;

    h2 {
      margin-top: 25px;
      margin-bottom: 15px;
      font-weight: bold;
    }
    img{
      margin: 25px 0;
    }
    p{
      padding: 15px 0;
    }

    nav {
      text-align: left;
    }
    .cup-img-wrap{
      height: 125px;
    }
    .cup{
      height: 416px;
      background: rgba(255, 255, 255, 0.7);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 4px 30px rgba(108, 108, 108, 0.1);
      backdrop-filter: blur(60px);
      border-radius: 5px;
      margin: 0 auto 25px auto;
      transition: all .2s;
      overflow: hidden;
      position: relative;
      .show-more{
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        font-size: 22px;
        font-weight: bold;
        span{
          transform: rotate(90deg);
          display: block;
        }
      }
      .cup-title{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #00040D;
      }
    }
    .cup.show{
      transition: all .2s;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 999;
      .cup-desc{
        padding-bottom: 45px;
      }
      .show-more{
        span{
          transform: rotate(-90deg);
        }
      }
    }

    .cup:hover{
      text-decoration: none;
      transform: scale(1.1);
    }
  }
}